h1{
    font-family:  'Work Sans', sans-serif;
    color:#5394A0;
    font-size: 2em;
    text-align: center;
}
body{
    background-color: #ffecd6;
    margin: 0px;
    display: grid;
}
main{
    margin: 10px;
    display: grid;
}
nav > a{
    margin: 5px;
    font-weight: bold;
}
aside{
    background-color: #F9F3EC;
}
.notes-taken{
    list-style: square;
    font-family:  'Work Sans', sans-serif;
    color:#5394A0;
    font-weight: bold;
}
nav{
    font-family:  'Work Sans', sans-serif;
    color:#5394A0;
    text-align: right;
}
section{
    display: grid;
    align-content: space-between;
}

.top-buttons{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 0px 10px 0px;
    grid-template-areas: '1 2';
}
.button1{
    background-color: #5394A0;
    border-radius: 10px;
    border: 0px;
    line-height: 3;
    max-width: fit-content;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding: 0px 10px 0px 10px;
}
.button2{
    background-color: #6F6A87;
    border-radius: 10px;
    border: 0px;
    line-height: 3;
    justify-self: end;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding: 0px 10px 0px 10px;
}

a:link, a:visited{
    text-decoration: none;
    color: #5394A0;
}
a:hover{
    text-decoration: none;
    color: #5394a083;
}
button:link, button:hover, button:visited{
    text-decoration: none;
    background-color: #5394a083;
}
textarea{
    width: 100%;
    box-sizing:border-box;
    background-color: #F9F3EC;
    border: #5394A0 solid 2px;
    padding: 10px;
}
#take-note{
    color: rgb(99, 98, 98);
}
.bot-buttons{
    display: grid;
    margin: 10px 0px 10px 0px;
    grid-template-columns: 1fr;
    grid-template-areas: '1 2';
    gap: 15px;
}
.button3{
    background-color: #6F6A87;
    border-radius: 10px;
    border: 0px;
    line-height: 3;
    right: 10px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding: 0px 10px 0px 10px;
    justify-self: end;
}
.button4{
    background-color: #D9827C;
    border-radius: 10px;
    border: 0px;
    line-height: 3;
    right: 10px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding: 0px 10px 0px 10px;
    justify-self: end;
}
footer{
    text-align: center;
}
h2{
    font-family:  'Work Sans', sans-serif;
    color:#5394A0;
}
img{
    width: 50px;
}
@media screen and (min-width: 600px){
    html, body{
        grid-template-areas: '1 2';
        height: 100%;
    }
}